.header-container {
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.background-tile {
    background-image: url("../../assets/svg/background-tile.svg");
    width: 100%;
    height: 168px;
    background-size: 100% ;
    background-position: left top;
    z-index: -1;
}

.content {
    padding: 0 0 44px;
    max-width: 1280px;
    position: relative;
    display: flex;
    margin: auto;
    z-index: 0;
}

.profile-pic {
    background-image: url("../../assets/images/profile-pic.png");
    width: 256px;
    height: 256px;
    background-size: 130% ;
    background-position: -20px center;
    border-radius: 100%;
    margin-top: -73px;
    z-index: 1;
}

.data-container {
    margin: 18px 36px 0;
    z-index: 1;
}

.name {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #212123;
}

.status {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #5B5B5B;
}

.socials {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.social-item {
    margin-right: 24px;
}

.linkedin {
    background-image: url("../../assets/svg/socials/linkedin-basic.svg");
    width: 36px;
    height: 36px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.linkedin:hover {
    background-image: url("../../assets/svg/socials/linkedin-hover.svg");
}

.git {
    background-image: url("../../assets/svg/socials/git-basic.svg");
    width: 36px;
    height: 36px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.git:hover {
    background-image: url("../../assets/svg/socials/git-hover.svg");
}

.vk {
    background-image: url("../../assets/svg/socials/vk-basic.svg");
    width: 36px;
    height: 36px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.vk:hover {
    background-image: url("../../assets/svg/socials/vk-hover.svg");
}

.instagram {
    background-image: url("../../assets/svg/socials/instagram-basic.svg");
    width: 36px;
    height: 36px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.instagram:hover {
    background-image: url("../../assets/svg/socials/instagram-hover.svg");
}

/* MOBILE STYLES */
@media only screen and (max-width: 1023px) {
    .header-container {
        width: 100%;
        position: relative;
        background-color: #FFFFFF;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .background-tile {
        background-image: url("../../assets/svg/background-tile.svg");
        width: 100%;
        height: 100px;
        background-size: 200% ;
        background-position: left top;
        z-index: -1;
    }

    .content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .profile-pic {
        width: 128px;
        height: 128px;
    }

    .data-container {
        margin: 0;
    }

    .name {
        font-size: 24px;
    }

    .status {
        font-size: 18px;
    }

    .socials {
        margin-top: 12px;
    }

    .social-item {
        margin-right: 12px;
    }
}
