.container {
  max-width: 1280px;
  margin: 24px auto;
  display: flex;
}

.main-part {
  max-width: 810px;
}

.contact-part {
  width: 447px;
  margin-left: 24px;
}

/* MOBILE STYLES */
@media only screen and (max-width: 880px) {
  .container {
    margin: 12px auto;
    display: block;
  }

  .contact-part {
    width: 100%;
    margin-left: 0;
  }

  .main-part {
    max-width: 100%;
  }
}
