@font-face {
  font-family: Rubic;
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: 500;
  font-style: italic;
  src: url("assets/fonts/Rubik-MediumItalic.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: 500;
  font-style: normal;
  src: url("assets/fonts/Rubik-Medium.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: 300;
  font-style: italic;
  src: url("assets/fonts/Rubik-LightItalic.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: 300;
  font-style: normal;
  src: url("assets/fonts/Rubik-Light.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/Rubik-Italic.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: bold;
  font-style: italic;
  src: url("assets/fonts/Rubik-BoldItalic.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/Rubik-Bold.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: 900;
  font-style: normal;
  src: url("assets/fonts/Rubik-Black.ttf");
}

@font-face {
  font-family: Rubic;
  font-weight: 900;
  font-style: italic;
  src: url("assets/fonts/Rubik-BlackItalic.ttf");
}

body {
  font-family: 'Rubic', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
  margin: 0;
}
